<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209434655822-vu7e4vq7vrb81iveb7ve30if4jjgldif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209434655822-vu7e4vq7vrb81iveb7ve30if4jjgldif</string>
	<key>API_KEY</key>
	<string>AIzaSyAUo5OwtBqUB1gMLMN5utx2ni8arC9oyfo</string>
	<key>GCM_SENDER_ID</key>
	<string>209434655822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chdAppDemo</string>
	<key>PROJECT_ID</key>
	<string>chedrauiappdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>chedrauiappdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209434655822:ios:391148befa14cf6785971f</string>
	<key>DATABASE_URL</key>
	<string>https://chedrauiappdemo.firebaseio.com</string>
</dict>
</plist>